


  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: rgb(29, 109, 65);
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 1500px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>

<div class="text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
       
      <img src="/img/app3.jpg" alt="..." class="img-thumbnail">

    </div>
    <div class="col-sm-8 text-left"> 
            <h1>Staying@Home Team </h1>
            <p>We are an open source project designed to build solutions focused on making people stay at home more straightforward, using gamification, our mobile app was designed to help people to get some fun during lockdown, while contributing to reduce risk of virus spread.</p>

            <hr>
            <h1>The Challenge</h1>
            <p>The most effective action to prevent the virus spread on health emergencies is the lockdown and/or stay at home
            policies.</p>
            <p>However, countries are facing big challenges to make sure people meets the policies. As a result, there are multiple
            actions implemented by governments to invite/force people to stay at home, these actions are being applied to broad
            areas such as cities, states, countries:</p>
            <ul>
                <li>Security checkpoints on streets</li>
                <li>Policy patrols asking people to go home</li>
                <li>Multiple advertising and sensitization campaigns</li>
                <li>Sanitizer tunnels in crowded places</li>
            </ul>
        <hr>
            <h1>Our Solution</h1>
            <p><b>Staying@Home App:</b> tracks how long the users have stayed at home and sends the statistics to the data analyzer.
            </p>
            <p>By using gamification and VR, the app allows the user to build a forest at their virtual home and contribute to their
            community:</p>
            <ul>
                <li>For each 6 consecutive hours at home, user gets a tree</li>
                <li>Every 6 trees, the user is move to next level</li>
                <li>If user leaves home before the 6 hours needed to get a tree, the one in progress is deleted, and then a new one
                    starts growing from 0 once user gets back home.</li>
                <li>As more trees are added to the forest, user can get additional items and go through different contribution
                    levels</li>
                <li>There is a GPS tracking component monitoring if the users moves enough to consider that they leave home</li>
                <li>User can share on social networks their progress and achievements.</li>
                
            </ul>    
            <p><b>Staying@Home Dashboard:</b> Online platform receiving data and statistics about the time that people stays at
              home. The platform uses kibana and elastic search to build real time graphs showing which areas better meet the stay
              at home restrictions.</p>
            <p>&nbsp;</p>
 
    </div>   

    <footer class="container-fluid text-center">
        <p>Together we can help our public health systems and government to optimize resources</p>
      </footer>
      