<h2>Staying@Home Dashboard</h2>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    How to use the dashboard
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>Since not all countries have data at this point, please follow steps below to use "Mexico -> Jalisco
                    -> Ciudad Guzmán" to visualize data on the map:</p>
                <p>
                    1. When you first load the web page you’ll land on the “countries” tab. On the left there’s a menu
                    with country names from which you can select the one you’re interested in.
                    Once you click it, if available, the map will be shown in the right panel.
                    <b> Please Select Mexico, you can use the search field to find it faster </b>
                </p>
                <p>
                    2. After you select a country, you can move into the states tab (from the upper menu) and select a
                    state from the left pane; this menu is loaded based on which country was selected in the previous
                    tab.
                    Same as with countries: once you click the state you’re interested in, if available, the map will be
                    shown in the right panel.
                    <b>Please select Jalisco and the corresponding map will be displayed.</b>
                </p>
                <p>
                    3. Once a country and state are selected, you can move into the cities tab (from the upper menu) and
                    select a city from the left pane; this menu is loaded based on which state was selected in the
                    previous tab.
                    Same as with countries and states: once you click the city you’re interested in, if available, the
                    map will be shown in the right panel.
                    <b>Plase select Ciudad Guzmán and the corresponding map will be displayed.</b>

                </p>
            </div>
        </div>
    </div>
</div>
<hr>

<a href="http://173.193.122.97:30108/Stay@Home/dashboards/" class="btn btn-primary btn-lg active" role="button"
aria-pressed="true" target="_blank">Try it now</a>
<!-- 
<link rel="stylesheet" type="text/css" href="/css/radio.style.css">
<link rel="stylesheet" type="text/css" href="/css/list.style.css">

<div class="row">
    <div class="wrapper">
        <div class="toggle_radio" id="places-slider">
            <input type="radio" checked class="toggle_option" id="countries-tab" name="toggle_option">
            <input type="radio" class="toggle_option" id="states-tab" name="toggle_option">
            <input type="radio" class="toggle_option" id="cities-tab" name="toggle_option">
            <label for="countries-tab">
                <p>Countries</p>
            </label>
            <label for="states-tab">
                <p>States</p>
            </label>
            <label for="cities-tab">
                <p>Cities</p>
            </label>
            <div class="toggle_option_slider"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form class="form-inline" id="search-place">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
        <div id="show-places-list">
            <ul class="nav flex-column nav-pills" id="list-countries" style="display: inline-flex;"></ul>
            <ul class="nav flex-column nav-pills" id="list-states" style="display: none;"></ul>
            <ul class="nav flex-column nav-pills" id="list-cities" style="display: none;"></ul>
        </div>
    </div>
    <div class="col-md-9 well">
        <div id="dashboard">
            <iframe
                src="https://173.193.122.97:32455/app/kibana#/visualize/edit/4d9461e0-84f7-11ea-8110-01c6c6b17fed?embed=true&_g=()"
                height="550" width="800"></iframe>
            <h1 id="not-av">Not Available :(</h1>
        </div>
    </div>
</div>
<script type="module" src="/js/dashboards.js"></script>

--> 