<h2>Staying@Home App</h2>

<div class="text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p>&nbsp;</p>
      <a href="https://stay-at-home-app.mybluemix.net" class="btn btn-primary btn-lg active" role="button"
        aria-pressed="true" target="_blank">Try it now</a>
      <p>&nbsp;</p>
      <a href="/stay-at-home.apk" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" target="_blank">Donwload
        App</a>
    </div>
    <div class="col-sm-8 text-left">
      <ul>
        <li>Get some fun while staying at home</li>
        <li>Build your virtual reality forest</li>
        <li>Challenge your friends on who can stay at home longer</li>
        <li>Share on social networks your contribution and achievements</li>
      </ul>

      <h4>Download Options: </h4>
    <ul>
      <li>Click <b>Try Now</b> to access our online demo server </li> 
      <li>click <b>Download Now</b> and download the .apk package to an Android device</li>
    </ul> 
    </div>
    <div class="col-sm-2 sidenav">



    </div>
  </div>
</div>

<p>&nbsp;</p>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/img/main_page.png">
        <img src="/img/main_page.png" alt="Lights" style="width:100%">
        <div class="caption">
          <p>See more...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/img/VR_view3.jpg">
        <img src="/img/VR_view3.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>See more...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/img/VR_view4.jpg">
        <img src="/img/VR_view2.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>See more...</p>
        </div>
      </a>
    </div>
  </div>
</div>