
<div class="text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
        <img src="/img/app4.jpg" alt="..." class="img-thumbnail">
        <img src="/img/app.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-8 text-left"> 
   
        <h2>Designed for end users to track how long they stay at home</h2>
        <p>Get some fun while staying at home</p> 
        <p>Contribute to public health by playing/challenging your friends on who can better meet stay at home policies</p>  
        <p>Share on your social networks your progress, contribution and achievements</p>  

        Read More … 
        Download … 
    </div>
    <div class="col-sm-2 sidenav">
        <img src="/img/app2.jpg" alt="..." class="img-thumbnail">
        <img src="/img/app3.jpg" alt="..." class="img-thumbnail">
    </div>
  </div>
</div>
<p>&nbsp;</p>
<footer class="container-fluid text-center">
  <p>Together we can help our public health systems and government to optimize resources</p>
</footer>

