<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Staying@Home basic rules
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ol>
                    <li><p>Download the app to your mobile to start playing</p></li>
                    <li><p>Enable GPS location from configuration menu </p></li>
                    <li><p>First Tree will start growing, after 6 consecutive hours without leaving home the Tree will be added to your forest</p></li>
                    <li><p>GPS monitor will track if you leave home, and in that case the current growing Tree will be deleted</p></li>
                    <li><p>A new Tree will start growing once you come back home</p></li>
                    <li><p>After getting 10 Trees you will be moved to the next level</p></li>
                    </ol>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Starying@Home Dashboard not loading data for the Selected Country/State/city
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p>As more people start using the App, data will be available on more cities.</p>
                <p>At this point of the prototype to take a look on how data will be shown, please filter using:</p>
                <p>Country=Mexico</p>
                <p>State=Jalisco</p>
                <p>City=Ciudad Guzmán</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    How to get help and report issues
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
            <p> Issues can be reported at github repository: </p>
              <a href="https://Github.com/Stay-at-Home-Project/c4c2020" class="nav-link">Github repository</a>
            </div>
        </div>
    </div>
</div>