 
 
 <!-- MAIN (Center website) -->
 <div class="main">

  <h2>Get Fun while Staying at Home for a cause</h2>
  <hr>
  
  
  <p>Track your time at home with our VR Mobile platform, share your achievements and motivate
    others to stay at home </p>
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="/img/main_page.png" alt="Mountains" style="width:100%">
        <h5>Mobile App</h5>
        <p>Track your time at home, challenge others and share your achievements on social networks. <b>Built with Ionic Framework.</b></p>
       
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/img/VR_page.png" alt="Mountains" style="width:100%">
        <h5>Virtual Reality Forest</h5>
        <p>Build your forest and get a virtual experience while navigating around the environment. <b>Built with A-Frame.</b></p>  
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/img/CityMap.png" alt="Mountains" style="width:100%">
        <h5>Public Dashboard</h5>
        <p>Access public reports about people staying at home on different coutries, states and cities. <b>Built with Kibana and Elastic Search.</b></p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/img/geolocation.png" alt="Mountains" style="width:100%"> 
        <h5>Geolocation</h5>
        <p>Using GPS location the platform tracks how log the user stays at home. <b>Built with Ionic Capacitor.</b></p>
        
      </div>
    </div>
  </div>
  
  <div class="content">
    <hr>
    <h3>Stying@Home App Demo</h3>
    <p>Click on Play to watch a quick demo of this app.</p>
    <div class="embed-responsive embed-responsive-16by9">
   
      <iframe class="embed-responsive-item"  src="/img/app_video.mp4" frameborder="0" allowfullscreen autoplay></iframe>
    </div>  

  </div>
  
  <!-- END MAIN -->
  </div> 


