 
 
 <!-- MAIN (Center website) -->
 <div class="main">

  <h2>Get Fun while Staying at Home for a cause</h2>
  <hr>
  
  
  <p>Track your time at home with our VR Mobile platform, share your achievements and motivate
    others to stay at home </p>
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column">
      <div class="content">
        <img src="/img/main_page.png" alt="Mountains" style="width:100%">
        <h5>Mobile App</h5>
        <p>Track your time at home, challenge others and share your achievements on social networks.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/img/VR_page.png" alt="Mountains" style="width:100%">
        <h5>Virtual Reality Forest</h5>
        <p>Build your forest and get a virtual experience while navigating around the environment. </p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <img src="/img/CityMap.png" alt="Mountains" style="width:100%">
        <h5>Public Dashboard</h5>
        <p>Access public reports about people staying at home on different coutries, states and cities.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"  src="/img/app_video.mp4" frameborder="0" allowfullscreen></iframe>
        </div>  
        <h5>Social Networks Interation</h5>
        <p>Share your achievements with others on social networks:</p>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"  src="/img/app_video.mp4" frameborder="0" allowfullscreen></iframe>
    </div>  
    <h3>Some Other Work</h3>
    <p>Lorem ipsum..</p>
  </div>
  
  <!-- END MAIN -->
  </div> 


