<h1>Staying@Home for a cause</h1>
<p>Gamifying and analyzing People at Home data to improve efficiency of public actions to reduce virus spread during
    health emergencies</p>

<h2>Why contribute?</h2>
<p>The most effective action to prevent virus spread is the lockdown and/or stay at home policies.</p>
<p>Countries are facing big challenges to motivate people to stay at home.</p>
<p>Multiple measures being implemented but resources are never enough to cover broad areas.</p>
<p>Together we can help our public health systems and government to optimize resources available.</p>
<a href="?why">Read More...</a>

<h2>How to contribute?</h2>
<h4>Staying@Home App</h4>
<p>Designed for end users to track how long they stay at home.</p>
<p>Get some fun while staying at home.</p>
<p>Contribute to public health by playing/challenging your friends on who can better meet stay at home policies.</p>
<p>Share on your social networks your progress, contribution and achievements.</p>
<a href="?how">Read More...</a>
<a href="?download">Download</a>

<h2>Staying@Home Dashboard</h2>
<p>Designed for health organizations, government and NGOs.</p>
<p>Review reports about people mobility on different areas.</p>
<p>Quick insights about the results of Stay at home initiatives.</p>
<a href="?about-dashboards">Read More...</a>
<a href="?dashboards">Access Dashboard...</a>