<ion-header>
  <ion-toolbar>
    <ion-title>My Forest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-content>
            <img src="./assets/arboles/default.png" />
            <ion-item>
              <ion-label>Trees:</ion-label>
              <ion-input disabled slot="end">{{config.trees}}</ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <form [formGroup]="configForm" (ngSubmit)="processForm()" (keyup.enter)="processForm()">
          <ion-card>
            <ion-card-content>

              <ion-item>
                <ion-label>Geolocation enabled</ion-label>
                <ion-checkbox slot="end" formControlName="geolocationEnabled"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label>Set current location as Home:</ion-label>
                <ion-button [disabled]="!config.geolocationEnabled" (click)="setHome()">
                  <ion-icon name="home"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Status</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <!--ion-label *ngIf="status=1">Growing</ion-label-->
              <!--ion-label *ngIf="status=0">Shrinking</ion-label-->
            </ion-item>
            <ion-item>
              <ion-label>Remaining time:</ion-label>
              <ion-input disabled slot="end">
                <countdown #countdown [config]="{ leftTime: timeToGrowTree, format: 'm:s' }">
                </countdown>
              </ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md=" 6">
        <ion-card>

          <ion-card-header>
            <ion-card-title>History</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="loadHistory()">
              <ion-icon name="reload"></ion-icon>
            </ion-button>
            <ion-button color="warning" (click)="deleteHistory()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-list>
              <ion-item *ngFor="let gpsHistory of historyArray">
                <ion-label>{{gpsHistory.time}}: [lat:{{gpsHistory.coords.latitude}}
                  lon:{{gpsHistory.coords.longitude}}]</ion-label>
                <ion-button slot="end"
                  href="https://www.google.com.mx/maps/search/{{gpsHistory.coords.latitude}},{{gpsHistory.coords.longitude}}"
                  target="_blank">
                  <ion-icon name="open-outline">
                  </ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="navigator && navigator.share">
    <ion-fab-button>
      <ion-icon name="share-social" (click)="shareOptions()"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>