img{
    height: 40vh;
    width: auto;
    margin: auto;
    display: block;
  }

ion-toolbar{
  --background: var(--ion-color-primary);
  --color: #ffffff;
}

ion-content{
  --background: var(--ion-color-secondary);
}