<ion-header>
  <ion-toolbar>
    <ion-title>Stay@Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <canvas #confetti id="confetti" width="{{pageWidth}}" height="{{pageHeight}}"></canvas>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-card id="vr">
          <ion-card-header>
            <ion-card-title>My forest
            </ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="goToForestTab();">
            <iframe id="vrWindow" src="/assets/aframe.html"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Details:
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Forest level:</ion-label>
              <ion-text slot="end">{{config.level}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Trees in my forest:</ion-label>
              <ion-text slot="end">{{config.trees}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Next tree in:</ion-label>
              <ion-text slot="end">
                <countdown #countdown [config]="{ leftTime: timeToGrowTree, format: 'mm:ss', demand:true }">
                </countdown>
              </ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>

          <ion-card-header>
            <ion-card-title>Game rules for demo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label class="ion-text-wrap">Go to settings, click on "Enable Geolocation" and click on the button for
                "Set Current
                location as Home".</ion-label>
            </ion-item>
            <ion-list>
              <ion-item>
                <ion-label class="ion-text-wrap">One tree grows every {{timeToGrowTree}} seconds you stay at home.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">One tree is cut down every {{timeToGrowTree}} seconds you are not home.
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">There are levels that you can achieve by growing a certain number of
                  trees: 10, 20, 40, 80, etc.</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!isBrowser()">
      <ion-icon name="share-social" (click)="shareOptions()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isBrowser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="isBrowser()" side="start">
      <ion-fab-button color="light" shareButton="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" shareButton="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" shareButton="linkedin">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>