<ion-header>
  <ion-toolbar>
    <ion-title>Stay@Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <canvas #confetti id="confetti" width="{{pageWidth}}" height="{{pageHeight}}"></canvas>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-card id="vr">
          <ion-card-header>
            <ion-card-title translate>HOME.FOREST</ion-card-title>
          </ion-card-header>
          <ion-card-content (click)="goToForestTab();">
            <iframe id="vrWindow" src="/assets/aframe.html"></iframe>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title translate>HOME.DETAILS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label translate>HOME.FORESTLEVEL</ion-label>
              <ion-text slot="end">{{config.level}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label translate>HOME.TREESINFOREST</ion-label>
              <ion-text slot="end">{{config.trees}}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label translate>HOME.NEXTTREE</ion-label>
              <ion-text slot="end">
                <countdown #countdown [config]="{ leftTime: timeToGrowTree, format: 'mm:ss', demand:true }">
                </countdown>
              </ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>

          <ion-card-header>
            <ion-card-title translate>HOME.GAMERULES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label class="ion-text-wrap" translate
                [translateParams]="{val1:'SETTINGS.GEOLOC'| translate, val2: 'SETTINGS.SETHOME' | translate }">
                HOME.RULE1
              </ion-label>
            </ion-item>
            <ion-list>
              <ion-item>
                <ion-label class="ion-text-wrap" translate [translateParams]="{var1: timeToGrowTree}">HOME.RULE2
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap" translate [translateParams]="{var1: timeToGrowTree}">HOME.RULE3
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap" translate>HOME.RULE4</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!isBrowser()">
      <ion-icon name="share-social" (click)="shareOptions()"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="isBrowser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="isBrowser()" side="start">
      <ion-fab-button color="light" shareButton="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" shareButton="twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" shareButton="linkedin">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>