<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GPS Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Latitude
    </ion-card-header>
    <ion-card-content>
      {{gps.coordinate?.latitude}}
    </ion-card-content>
    <ion-card-header>
      Longitude
    </ion-card-header>
    <ion-card-content>
      {{gps.coordinate?.longitude}}
    </ion-card-content>
    <ion-card-header>
      <ion-button size="small" (click)="gps.showHistory()">
        History
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
