<ion-tabs>

  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">

    <ion-tab-button tab="me">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cities">
      <ion-icon src="assets/icon/tree.svg"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="states">
      <ion-icon name="business"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>