<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>SETTINGS.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <form [formGroup]="configForm">
          <ion-card>
            <ion-card-header>
              <ion-card-title translate>SETTINGS.TITLE</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label translate>SETTINGS.GEOLOC</ion-label>
                <ion-checkbox slot="end" formControlName="geolocationEnabled"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label translate>SETTINGS.SETHOME</ion-label>
                <ion-button [disabled]="!config.geolocationEnabled" (click)="setHome()">
                  <ion-icon name="home"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-list-header>
                <ion-label translate>SETTINGS.WARN</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label translate>SETTINGS.DELETE</ion-label>
                <ion-button color="danger" (click)="deleteSettings()">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title translate>SETTINGS.TIME</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-button (click)="loadHistory()" slot="start">
                  <ion-icon name="reload"></ion-icon>
                </ion-button>
                <ion-button color="warning" (click)="deleteHistory()" slot="start">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>

            <ion-list>
              <ng-container *ngFor="let gpsHistory of historyArray">
                <ion-item>
                  <ion-label>{{gpsHistory.time}}<br>
                    Latitude:{{gpsHistory.coords.latitude}}<br>
                    Longitude:{{gpsHistory.coords.longitude}}</ion-label>
                  <ion-button slot="end"
                    href="https://www.google.com.mx/maps/search/{{gpsHistory.coords.latitude}},{{gpsHistory.coords.longitude}}"
                    target="_blank">
                    <ion-icon name="open-outline">
                    </ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title translate>SETTINGS.IMAGES</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col translate>SETTINGS.NAME</ion-col>
                <ion-col translate>SETTINGS.AUTHOR</ion-col>
                <ion-col translate>SETTINGS.LICENCE</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/tree-black-silhouette-shape_41390')">Tree
                  Black
                  Silhouette Shape</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/greeting_774502')">Greeting</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/forest_2899987')">Forest</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/ranking_1603847')">Ranking</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/headset_2177275')">Headset</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title translate>SETTINGS.AUDIO</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col translate>SETTINGS.NAME</ion-col>
                <ion-col translate>SETTINGS.AUTHOR</ion-col>
                <ion-col translate>SETTINGS.LICENCE</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/SgtPepperArc360/sounds/347732/')">Samsung Galaxy S7
                  Startup</ion-col>
                <ion-col (click)="open('https://freesound.org/people/SgtPepperArc360/')">SgtPepperArc360</ion-col>
                <ion-col (click)="open('http://creativecommons.org/licenses/by/3.0/')">Attribution 3.0 Unported (CC BY
                  3.0)
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/SkibkaMusic/sounds/478896/')">Skibka Music - Logo
                  Pn8.wav
                </ion-col>
                <ion-col (click)="open('https://freesound.org/people/SkibkaMusic/')">SkibkaMusic</ion-col>
                <ion-col (click)="open('https://creativecommons.org/publicdomain/zero/1.0/')">CC0 1.0 Universal (CC0
                  1.0)
                  Public Domain Dedication</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/josepharaoh99/sounds/364929/')">Game Die</ion-col>
                <ion-col (click)="open('https://freesound.org/people/josepharaoh99/')">josepharaoh99</ion-col>
                <ion-col (click)="open('http://creativecommons.org/publicdomain/zero/1.0/')">CC0 1.0 Universal (CC0 1.0)
                  Public Domain Dedication</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/Mativve/sounds/391539/')">Electro win sound
                </ion-col>
                <ion-col (click)="open('https://freesound.org/people/Mativve/')">Mativve</ion-col>
                <ion-col (click)="open('http://creativecommons.org/licenses/by/3.0/')">Attribution 3.0 Unported (CC BY
                  3.0)
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title translate>SETTINGS.3DASSETS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col translate>SETTINGS.NAME</ion-col>
                <ion-col translate>SETTINGS.AUTHOR</ion-col>
                <ion-col translate>SETTINGS.LICENCE</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/ficLBIjGliK')">Queen Palm Tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/cpg6wP8JCyQ')">Apple tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/7qYSFCnZTB6')">Tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/fCT73jIf5jN')">Pine tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/2acu5nrdDYl')">Willow tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/2acu5nrdDYl')">Willow tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/2EW209K0xBw')">Macassar tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/8OfF21t6NMa')">Maple tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/8zS7mfHS0i7')">Orange tree</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://poly.google.com/view/2_fv3tn3NG_')">Forest</ion-col>
                <ion-col (click)="open('https://poly.google.com/user/4aEd8rQgKu2')">Poly by Google</ion-col>
                <ion-col (click)="open('https://creativecommons.org/licenses/by/3.0/legalcode')">CC-BY 3.0</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>