<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <form [formGroup]="configForm">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Settings</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label>Geolocation enabled</ion-label>
                <ion-checkbox slot="end" formControlName="geolocationEnabled"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label>Set current location as Home</ion-label>
                <ion-button [disabled]="!config.geolocationEnabled" (click)="setHome()" style="width:10%;">
                  <ion-icon name="home"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-list-header>
                <ion-label>Warning</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Delete settings</ion-label>
                <ion-button color="danger" (click)="deleteSettings()" style="width:10%;">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>My Forest in time</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="loadHistory()">
              <ion-icon name="reload"></ion-icon>
            </ion-button>
            <ion-button color="warning" (click)="deleteHistory()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-list>
              <ng-container *ngFor="let gpsHistory of historyArray">
                <ion-item>
                  <ion-label>{{gpsHistory.time}}<br>
                    Latitude:{{gpsHistory.coords.latitude}}<br>
                    Longitude:{{gpsHistory.coords.longitude}}</ion-label>
                  <ion-button slot="end"
                    href="https://www.google.com.mx/maps/search/{{gpsHistory.coords.latitude}},{{gpsHistory.coords.longitude}}"
                    target="_blank">
                    <ion-icon name="open-outline">
                    </ion-icon>
                  </ion-button>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Images</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>Name</ion-col>
                <ion-col>Author</ion-col>
                <ion-col>Licence</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://www.flaticon.com/free-icon/tree-black-silhouette-shape_41390')">Tree
                  Black
                  Silhouette Shape</ion-col>
                <ion-col (click)="open('https://www.flaticon.com/authors/freepik')">Freepik</ion-col>
                <ion-col (click)="open('https://www.freepikcompany.com/legal#nav-flaticon-agreement')">Flaticon License
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Audio</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>Name</ion-col>
                <ion-col>Author</ion-col>
                <ion-col>Licence</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/SgtPepperArc360/sounds/347732/')">Samsung Galaxy S7
                  Startup</ion-col>
                <ion-col (click)="open('https://freesound.org/people/SgtPepperArc360/')">SgtPepperArc360</ion-col>
                <ion-col (click)="open('http://creativecommons.org/licenses/by/3.0/')">Attribution 3.0 Unported (CC BY
                  3.0)
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/SkibkaMusic/sounds/478896/')">Skibka Music - Logo
                  Pn8.wav
                </ion-col>
                <ion-col (click)="open('https://freesound.org/people/SkibkaMusic/')">SkibkaMusic</ion-col>
                <ion-col (click)="open('https://creativecommons.org/publicdomain/zero/1.0/')">CC0 1.0 Universal (CC0
                  1.0)
                  Public Domain Dedication</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/josepharaoh99/sounds/364929/')">Game Die</ion-col>
                <ion-col (click)="open('https://freesound.org/people/josepharaoh99/')">josepharaoh99</ion-col>
                <ion-col (click)="open('http://creativecommons.org/publicdomain/zero/1.0/')">CC0 1.0 Universal (CC0 1.0)
                  Public Domain Dedication</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="open('https://freesound.org/people/Mativve/sounds/391539/')">Electro win sound
                </ion-col>
                <ion-col (click)="open('https://freesound.org/people/Mativve/')">Mativve</ion-col>
                <ion-col (click)="open('http://creativecommons.org/licenses/by/3.0/')">Attribution 3.0 Unported (CC BY
                  3.0)
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>