ion-content {
    --background: var(--ion-color-secondary);
}

@media (prefers-color-scheme: dark) {
    ion-content {
        --background: var(--ion-color-primary-tint);
    }
}

ion-button {
    width: 3em;
    height: 3em;
}
