* {
    box-sizing: border-box;
  }
  
 
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

html, body {
    height: 100%;
}

body {
    padding-bottom: 20px;
}

.container {
    padding-top: 80px;
}

.jumbotron {
    padding-top: 8em;
}

#portrait {
    border-radius: 90%;
    margin-bottom: 2em;
}

.date {
    text-align: right;
}

.arrow_container {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.arrow_container:hover {
    animation: suggest 1s 2;
}

.arrow_container_container:hover {
    background-color: #dddddd67;
}

.arrow_container:hover>a>.arrow {
    opacity: 1;
}

.arrow_container>a {
    width: 100%;
    display: inline-block;
}

@keyframes suggest {
    0%, 20%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1em);
    }
}